.MovieSeletor__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 16px;
    list-style: none;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .MovieSeletor__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .MovieSeletor__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .MovieSeletor__list {
        grid-template-columns: repeat(1, 1fr);
    }
}
